<!DOCTYPE html>
<html lang="en">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/addons/p5.dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/addons/p5.sound.min.js"></script>
  <script src="{{url_for('static', filename='js/sketch.js')}}"></script>
  <script src="{{url_for('static', filename='js/pml_generator.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='diagramEditor.css') }}">

  <body>
  <form id="actionEditor">
    <table>
      <p>Name: <Input type="text" name="name" id="name"/></p>
      <p> Type:
        <select id="type" name="type">
          <option value="none">None</option>
          <option value="manual">Manual</option>
          <option value="executable">Executable</option>
        </select>
      </p>
      <p> Agent:
        <input type="text" id="agent" name="agent"/>
      </p>
      <p> Script: </p>
      <textarea id="script" name="script"></textarea>
      <p> Tool:
        <input type="text" id="tool" name="tool"/>
      </p>
      <p> Requires:
        <input type="text" id="requires" name="tool"/>
      </p>
      <p> Provides:
        <input type="text" id="provides" name="tool"/>
      </p>
      <p align="center">
        <button type="button" value="enter" onClick="editAction()">Done</button>
      </p>
      <p align="center">
        <button type="button" value="enter" onClick="removeAction()">Remove Action</button>
      </p>
      <p align="center">
        <button type="button" value="enter" onClick="cutAction()">Cut Action</button>
      </p>
      <p align="center">
        <button type="button" value="enter" onClick="cancel()">Cancel</button>
      </p>
      </table>
    </form>
    <form id="flowEditor">
      <table>
        <p>Name: <Input type="text" name="flowName" id="flowName"/></p>
        <p> Type:
          <select id="flowType" name="flowType">
            <option value="branch">Branch</option>
            <option value="iteration">Iteration</option>
            <option value="selection">Selection</option>
            <option value="sequence">Sequence</option>
          </select>
        </p>
        <p align="center">
          <button type="button" value="enter" onClick="editSequence()">Done</button>
        </p>
        <p align="center">
          <button type="button" value="enter" onClick="removeSequence()">Remove</button>
        </p>
        <p align="center">
          <button type="button" value="enter" onClick="cutSequence()">Cut</button>
        </p>
        <p align="center">
          <button type="button" value="enter" onClick="cancel()">Cancel</button>
        </p>
        </table>
      </form>
  </body>
  <script type="text/javascript">
    {% if data %}
      $(window).load(function(){
        var data = {{ data | safe }};
        drawJSON(data);
      });
    {% endif %}
    window.onbeforeunload = function()
    {
        return "Any progress you made on the diagram will be lost.";
    };
    </script>
</html>
