<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% if 'currentFile' in session%}
  <title>{{session['currentFile'][:-4]}}</title>
{%else%}
  <title>Editor</title>
{% endif %}

<style type=text/css>{{ get_resource_as_string('static/editor.css') }}</style>
</head>
<body>
<style type="text/css">
.navbar{
  background:url("static/images/dark_wall.png");
}
</style>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">File </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:new_hook()">New</a></li>
                    <li><a href="javascript:open_hook()">Open</a></li>
                    <li>
                      <form action="upload" method="post" enctype="multipart/form-data" id ="fileUpload">
                        {% if (not 'email' in session) and (not 'social' in session) %}
                          <a href="/login" style="color: #333333;">Upload</a>
                        {% else %}
                          <input id="upload-file" type="file" name="file" style="display: none;">
                          <script>
                            document.getElementById('upload-file').onchange = function() {
                                document.getElementById("fileUpload").submit();
                            }
                          </script>
                          <a1 onclick="$('input[id=upload-file]').click();">Upload</a1>
                        {% endif %}
                      </form>
                    </li>
                    <li><a href="javascript:save_hook()">Save</a></li>
                    <li><a href="javascript:saveAs_hook()">Save As</a></li>
                    <!-- <li class="divider"></li> -->
                    <!-- <li><a href="#">Separated link</a></li> -->
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Edit</a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:undo_hook()">Undo</a></li>
                    <li><a href="javascript:redo_hook()">Redo</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Bindings </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:changeBindings('ace')">Ace</a></li>
                    <li><a href="javascript:changeBindings('vim')">Vim</a></li>
                    <li><a href="javascript:changeBindings('emacs')">Emacs</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:run_hook()">Analyse </a>
            </li>

            <li>
                <a href="javascript:parse_hook()">View </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {% if 'social' in session %}
              <a href="/logout"><r>Logout</r></a>
            {% elif 'email' in session %}
                <a href="/logout"><r>Logout</r></a>
            {% else %}
              <a href="javascript:login_hook()"><r>Login</r></a>
            {% endif %}
          </li>
        </ul>
    </div>
</nav>
<div class="container" id="editor">{{editor_content}}</div>

<textarea id="output" disabled="disabled">Output</textarea>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js" type="text/javascript" charset="utf-8"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
    var editor;
    var error_marker;

    function pushTemp(callback){
      var content = btoa(editor.getValue()); // encode editor content

      $.ajax({
          url: '/tmp',
          data: { content: content },
          type: 'POST',
          success: callback,
          error: function(error) {
              console.log(error);
          }
      });
    }

	function undo_hook(){ console.log("undo pressed"); editor && editor.undo();}
	function redo_hook(){ console.log("redo pressed"); editor && editor.redo();}

    function parse_hook() {
      console.log("parse pressed");

      var program;
      require(['static/ace-master/lib/ace/ace'], function(ace){
          editor = ace.edit("editor");
          program = editor.getValue();

          if(program == "") {
              window.location.href = "/diagram";
              return;
          }

          document.getElementById("output").innerHTML = "Output";

          editor.session.removeMarker(error_marker);
          editor.session.clearAnnotations();

          $.ajax({
              url: '/',
              data: { program: program },
              type: 'POST',
              success: function(response) {
                  pushTemp(function(response){
                    window.location.href = "/diagram?useParsed=True";
                  });
              },
              error: function(error) {
                  document.getElementById("output").innerHTML = error.responseText;
                  console.log(error);
                  highlight_error(error.responseText);
              }
          });
      });
    }

    function new_hook() {
      console.log("new pressed");
      editor && editor.setValue("");
      $.ajax({url:"/resetCurrent", success:function(){
        window.location.href = "/";
      }});
    }

	function save_hook(){
      console.log("save pressed");
      pushTemp(function(response) {
        window.location.href = 'save'
      });
    }

    function saveAs_hook(){
      console.log("save as pressed");
      pushTemp(function(response) {
        window.location.href = 'saveAs'
      });
    }

    function open_hook() {
      console.log("open pressed");
      // document.title ="blah";
      window.location.href = 'openFile';
    }

    function upload_hook() {
      console.log("open pressed");
      window.location.href = 'openFile';
    }

    function login_hook() {
        console.log("login pressed");
        pushTemp(function(response) {
            window.location.href = 'login'
        });
    }

    function changeBindings(binding){
      var keyBindings = {
        ace: null,
        vim: "static/ace-master/lib/ace/keyboard/vim",
        emacs: "static/ace-master/lib/ace/keyboard/emacs"
      };
      editor.setKeyboardHandler(keyBindings[binding]);
    }


    function parse_reponse(pmlcheck_response) {
        var line_number_message = pmlcheck_response.slice(5, pmlcheck_response.length).split(":");

        return line_number_message;
    }


    function highlight_error(pmlcheck_response) {
        var line_number_message = parse_reponse(pmlcheck_response);
        var line_number = line_number_message[0];
        var error_message = line_number_message[1];

        var Range = require("static/ace-master/lib/ace/range").Range;
        var range = new Range(line_number-1, 0, line_number-1, 1);
        error_marker = editor.session.addMarker(range, "errorHighlight", "fullLine");

        editor.getSession().setAnnotations([{
            row: line_number-1,
            column: 0,
            text: error_message,
            type: "error" // also warning and information
        }]);

        console.log("highlighting");
    }

    function run_hook() {
        var program;
        require(['static/ace-master/lib/ace/ace'], function(ace){
            editor = ace.edit("editor");
            program = editor.getValue();
            document.getElementById("output").innerHTML = "Output";

            editor.session.removeMarker(error_marker);
            editor.session.clearAnnotations();

            $.ajax({
                url: '/',
                data: { program: program },
                type: 'POST',
                success: function(response) {
                    document.getElementById("output").innerHTML = response;
                    console.log(response);
                },
                error: function(error) {
                    document.getElementById("output").innerHTML = error.responseText;
                    console.log(error);
                    highlight_error(error.responseText);
                }
            });
        });
    }

	function resizeAce(){
	  var aceHeight = $(window).height() - ($('nav').height()+$('#output').outerHeight(true));
	  return $('#editor').height(aceHeight);
	}

    $(function(){
      require(['static/ace-master/lib/ace/ace', 'static/ace-master/lib/ace/ext/language_tools'], function(ace){
          editor = ace.edit("editor");
          editor.setTheme("static/ace-master/lib/ace/theme/monokai");
          editor.getSession().setMode("static/ace-master/lib/ace/mode/pml");
          editor.setOptions({
              enableBasicAutocompletion: true,
              enableLiveAutocompletion: true
          });
          editor.resize();
      });

      $(window).resize(resizeAce);
      resizeAce();
    });
</script>

</body>
</html>
