<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor {
        margin-top: 0;
        width: 100%;
        height: 434px;
        font-size: 125%;
    }
</style>
</head>
<body>


<div id="editor">process Diabetes_assessment {
        action Assess_patient_symptoms {
                requires {patient_symptoms}
                provides {assessment.suspect_diabetes}
        }
        branch {
                action Glucose_test {
                        requires {assessment.suspect_diabetes}
                        provides {blood_test.glucose_test}
                }
                action Cholesterol_test {
                        requires {assessment.suspect_diabetes}
                        provides {blood_test.cholesterol_test}
                }
        }
        action Assess_diabetes {
                requires {blood_test.glucose_test && (optional) blood_test.cholesterol_test}
                provides {diagnosis.diabetes}
        }
}</div>

<div id="output">
  <p> asdfdsafdas </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js" type="text/javascript" charset="utf-8"></script>
<script>
    require(['static/ace-master/lib/ace/ace'], function(ace){
        var editor = ace.edit("editor");
        editor.setTheme("static/ace-master/lib/ace/theme/monokai");
        editor.getSession().setMode("static/ace-master/lib/ace/mode/pml");
        editor.resize();
    });
</script>
</body>
</html>
