<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor {
        margin-top: 0;
        width: 100%;
        height: 434px;
    }
</style>
</head>
<body>


<div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>

<div id="output">
  <p> asdfdsafdas </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/tcl");
    editor.resize();
</script>
</body>
</html>
