<!DOCTYPE html>
<html lang="en">
<head>
<style type=text/css>{{ get_resource_as_string('static/style.css') }}</style>

<!-- <link rel="stylesheet" type="text/c ss" href="CSS/style.css"> -->
</head>
<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script>
        function compile() {
            var program = document.getElementById("programArea").value;
            $.ajax({
                url: '/',
                data: { program: program },
                type: 'POST',
                success: function(response) {
                    document.getElementById("output").innerHTML = response;
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            })
        }
    </script>
    <h1>Enter PML program</h1>
    <form>
        <textarea id="programArea" cols="30" rows="20"></textarea>
        <br />
        <button class="button" onclick="compile()"> Run </button>
    </form>

    <p id="output">
        Program output will appear here.
    </p>
</body>
</html>
