<!DOCTYPE html>
<html>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
  <div class="wrapper">
    <h1 align="center">LOGIN</h1>
    <br>
    <form class="form" method="post">
      <input type="text" class="name" placeholder="Username">
      <input type="email" class="email" placeholder="Email Address">
      <input type="password" class="password" placeholder="Password">
      <input type="submit" class="submit" value="LOGIN">
      <div class="u-form-group">
        <br>
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
      <br><br>
      <hr>
      <br>
      <p>Login with...</p>
      <div class ="social">
        <a href="#">
          <img src= {{ url_for('static', filename = 'images/facebook.png') }} width="50" height="50" alt="previous" title="Previous" border="0"/>
        </a>
        <a href="#">
          <img src= {{ url_for('static', filename = 'images/google.png') }} width="50" height="50" alt="previous" title="Previous" border="0"/>
        </a>
        <a href="#">
          <img src= {{ url_for('static', filename = 'images/twitter.png') }} width="50" height="50" alt="previous" title="Previous" border="0"/>
        </a>
      </div>
      <br><br><hr>
      <div class = "login-box">
        Need an account?
        <a href="/signUp" id="_login" style="color:#4863A0">Sign up now!</a>
      </div>
    </form>
  </div>
  </body>
</html>
