<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='registerLogin.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li><p2>{{ message }}</p2></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      <hr/>
      <div>
      <ul>
      {% for file in files %}
      <script>
        function open_file(fileName) {
            if(location.search == '?diagram=true') {
                window.location.href = '/diagram?filename='+fileName
            }
            else {
                window.location.href = '/?filename='+fileName
            }
        }
      </script>
      <li><a href='javascript:open_file("{{file}}")'><p1> open '{{file}}'<p1></a></li>
      {% else %}
      <li><em><p1>no files found</p1></em></li>
      {% endfor %}

      </ul>
      <hr/>
      </form>
      </div>
    </div>
  </body>
</html>
