<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="registerStyle.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
<div class="wrapper">
  <body>
    <!-- <script>
        function compile() {
            var program = document.getElementById("programArea").value;
            $.ajax({
                url: '/signUp',
                data: { program: program }
                // type: 'POST',
                // success: function(response) {
                //     document.getElementById("output").innerHTML = response;
                //     console.log(response);
                // },
                // error: function(error) {
                //     console.log(error);
                // }
            })
        }
    </script> -->
  <h1 align="center">Register For An Account</h1>
  <p>To sign-up, please provide us with some basic information using
  the contact form below. Please use valid credentials.</p>
  <form class="form" method="post">
    <input type="text" class="name" placeholder="Username">
    <div>
      <p class="name-help">Please enter your first and last name.</p>
    </div>
    <input type="email" class="email" placeholder="Email">
     <div>
      <p class="email-help">Please enter your current email address.</p>
    </div>
    <input type="submit" class="submit" value="Register">
    <!-- <button type="submit" class="button" onclick="compile()"> Register </button> -->
  </form>
</div>
</body>
