<!DOCTYPE html>
<html>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='registerLogin.css') }}">
  <div class="wrapper">
    <body>
    <h1 align="center">Register For An Account</h1>
    <p>To sign-up, please provide us with some basic information using
    the contact form below. Please use valid credentials.</p>
    <form class="form" name="registration" onsubmit="return validate()" method="post">
      <input type="email" name="email" class="email" placeholder="Email">
      <input type="password" name="password" class="password" placeholder="Password">
      <input type="password" name="verify" class="verify" placeholder="Confirm Password">
      <input type="submit" name="submit" class="submit" value="Register">
      <!-- <button type="submit" class="button" onclick="compile()"> Register </button> -->
      <br><br><br>
      <hr>
      <br>
      <div class ="social">
        <p>Register with...</p>
        <a href="#">
          <img src="{{ url_for('static', filename = 'images/facebook.png') }}" width="50" height="50" alt="previous" title="Previous" border="0"/>
        </a>
        <a href="#">
          <img src="{{ url_for('static', filename = 'images/google.png') }}" width="50" height="50" alt="previous" title="Previous" border="0"/>
        </a>
        <a href="#">
          <img src="{{ url_for('static', filename = 'images/twitter.png') }}" width="50" height="50" alt="previous" title="Previous" border="0"/>
        </a>
      </div>
      <br><br><hr>
    </form>
  </div>
  <script>
    function validate(){
        var email = document.forms["registration"]["email"] 
		var password1 = document.forms["registration"]["password"].value;
        var password2 = document.forms["registration"]["verify"].value;
		
		if ( email == "" || password1 == "" ) {
			alert("Not all fields are filled");
			return false;
		}		

        if (password1 != password2){
            alert("Passwords must match");
            return false;
        }
	

        return true;
    }
  </script>
  </body>
</html>
