<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='registerLogin.css') }}">
  </head>
  <div class="wrapper">
  <h1> save as... </h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li><h1>{{ message }}</h1></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form class="form" method="post">
    <p3 align = "left">File extension must be .pml</p3>
    <input type="text" name="filename" placeholder="file name">
    <input type="submit" value="submit">
  </form>
</div>
</html>
