#canvas {
    position: fixed;
    padding: 0;
    margin: 0;
    /*top: 50px;*/
    left: 0;
}

element.style {
    position: fixed;
}

#outputPanel {
    display: none;
    z-index: 5;
    margin-top: 0;
    padding: 0px;
    border: 0px;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    position: fixed;
}

select {
    position: fixed !important;
    z-index: 2;
}

body {
    position: fixed;
    overflow: hidden;
    width: 100%;
}
form:hover{
  background-color: #f2f2f2;
  color: #000000 !important;
  cursor: pointer;
}
form{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px !important;
}
#actionEditor, #flowEditor {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background: #FFFFFF;
    z-index: 2;
    display: none;
}
