#canvas {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

element.style {
    position: fixed;
}

.Action {
    position: fixed !important;
    font-family: 'Orbitron';
    background:#FFFFFF;
    color:#000000;
    font-size:10pt;
    padding: 0;
    text-align: center;
    z-index: 1;
    width: 120px;
    height: 50px;
    border: 1px solid #000;
    overflow: hidden;
}

.Action:hover {
    cursor: pointer;
}

.IterationButt {
    position: fixed !important;
    z-index: 1;
}

select {
    position: fixed !important;
    z-index: 2;
}

body {
    position: fixed;
    overflow: hidden;
}

form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background: #FFFFFF;
    z-index: 2;
    display: none;
}
