#canvas {
    position: fixed;
    padding: 0;
    margin: 0;
}

.Action {
    font-family: 'Orbitron';
    background:#FFFFFF;
    color:#000000;
    font-size:10pt;
    padding:4px;
    text-align: center;
    z-index: 3;
    width: 120px;
    height: 80px;
    border: 1px solid #000;
    z-index: 0;
}

.Action:hover {
    cursor: pointer;
}

.IterationButt {
    position: inherit;
    z-index: 1;
}

form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background: #FFFFFF;
    z-index: 2;
    display: none;
}
