#editor {
    margin-top: 0;
    width: 100%;
    height: 600px;
    font-size: 125%;
}

.errorHighlight{
    position:absolute;
    z-index:20;
    background-color:#ff1a1a;
    opacity: 0.4;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}

.navbar-default .navbar-nav>li>a {
    color: #B7B7B7 !important;
}

.nav > li > a {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.navbar-collapse {
    padding-left: 3px !important;
}

.navbar {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #272822 !important;
    margin-bottom:0 !important;
    min-height:28px !important;
}

#output {
    margin-top: 0;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100px;
    position: fixed;
}
